.phone-login-container {
  // 提示
  .tip {
    display: flex;
    .tipIcon {
      position: absolute;
      left: 0;
      top: 10px;
      padding: 5px 0 0 5px;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      overflow: hidden;
      cursor: pointer;
      img {
        width: 45px;
      }
    }
    .tipText {
      background-color: #989898;
      color: #fff;
      font-size: 13px;
      padding: 3px 8px;
      margin-left: 30px;
      border-radius: 4px;
      position: relative;
      span {
        position: absolute;
        left: -4px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid dashed dashed dashed;
        border-width: 4px;
        border-color: #989898 transparent transparent transparent;
      }
    }
  }
  // 登录区域
  .login-area {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // 登录表单
    .login-form {
      margin-top: 30px;
      padding: 0 25px;
      // 输入框
      .input-container {
        border: 1px solid #E5E5E5;
        border-radius: 5px;
      }
      :global .ant-input-affix-wrapper { border-bottom: 1px solid #E5E5E5; }
      :global .ant-input {
        font-size: 13px;
        padding: 5px 0;
      }
      // 登录按钮
      .btn {
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
      }
      // 表单校验错误提示
      .validate {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        // 忘记密码
        span {
          color: #ec4141;
          font-size: 13px;
          cursor: pointer;
        }
        // 校验失败提示
        .error-tip {
          color: #D12E68;
          font-size: 12px;
          flex: 1;
          text-align: right;
        }
        // 密码规则提示
        .validateTip {
          color: #9F9F9F;
          font-size: 12px;
          text-align: center;
        }
      }
      // 注册
      .register {
        margin-top: 10px;
        text-align: center;
        span { text-decoration: underline; cursor: pointer; }
      }
    }
  }
  // 返回登录界面
  .back {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 13px;
    cursor: pointer;
  }
  // 验证码
  .validate-code {
    h2 {
      font-size: 13px;
      margin-bottom: 30px;
    }
    // 验证码获取
    .code {
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {margin-left: 40px;}
      margin-bottom: 20px;
    }
  }
}