.phone-login-container {
  // 提示
  .tip {
    display: flex;
    .tipIcon {
      position: absolute;
      left: 0;
      top: 10px;
      padding: 5px 0 0 5px;
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      overflow: hidden;
      cursor: pointer;
      img {
        width: 45px;
      }
    }
    .tipText {
      background-color: #989898;
      color: #fff;
      font-size: 13px;
      padding: 3px 8px;
      margin-left: 30px;
      border-radius: 4px;
      position: relative;
      span {
        position: absolute;
        left: -4px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid dashed dashed dashed;
        border-width: 4px;
        border-color: #989898 transparent transparent transparent;
      }
    }
  }
  // 登录区域
  .login-area {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // 登录表单
    .login-form {
      margin-top: 30px;
      padding: 0 30px;
      // 输入框
      .input-container {
        border: 1px solid #E5E5E5;
        border-radius: 5px;
      }
      :global .ant-input-affix-wrapper { border-bottom: 1px solid #E5E5E5; }
      :global .ant-input {
        font-size: 13px;
        padding: 5px 0;
      }
      // 登录按钮
      .login-btn {
        width: 100%;
        margin-top: 10px;
        border-radius: 5px;
      }
      // 表单校验错误提示
      .validate {
        text-align: right;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .error-tip {
          color: #D12E68;
          font-size: 12px;
        }
      }
    }
  }
}