@mixin scroller($size) {
  overflow-x: hidden;
  overflow-y: auto;
  // 自定义滚动条
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    background-color: #fff;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
  }
}