@mixin common {
  display: block;
  margin: 15px 0;
  color: #373737;
  font-size: 20px;
  font-weight: 600;
}
// 每个区域的标题
.title {
  @include common;
}
.nav-title {
  @include common;
  &:hover {
    color: #000;
  }
}
.nav-icon {
  font-size: 17px;
  font-weight: bold;
}