// 定义复用样式
@mixin height {
  line-height: 32px;
  height: 32px;
}
@mixin iconfont {
  font-size: 18px;
  margin-right: 8px;
  color: #5C5C5C; 
}
// 选中的菜单项
@import '@assets/scss/menu.scss';
// 文字溢出隐藏
@import '@assets/scss/ellipsis.scss';

// 菜单项
.ant-menu-inline .ant-menu-item {
  @include height;
  padding: 0 !important;
  margin: 0 10px;
  width: calc(100% - 20px);
  border-right: 0;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
  &::after {
    border: 0;
  }
  // 链接
  & a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 16px 0 10px;
    &:hover {
      color: #000;
      background-color: #fff2f0;
    }
  }
  // 字体图标
  .anticon {
    @include iconfont;
  }
}
// 被选中的菜单项
.ant-menu-item-selected a {
  @include menu;
}

.ant-menu-submenu-title {
  &:hover {
    color: #313131;
  }
  .ant-menu-submenu-arrow {
    color: #313131 !important;
    right: 50%;
  }
}

// title提示文字
.title {
  @include height;
  font-size: 13px;
  color: #999;
  padding-left: 10px;
  margin: 10px;
}

// 折叠面板
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  color: #999;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 13px;
  & .ant-collapse-arrow {
    left: -15px;
  }
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: {
    top: 0 !important;
    left: 20px;
    bottom: 0 !important;
  }
}
// 折叠项
.collapse-item {
  @extend .title;
  font-size: 14px;
  margin: 0;
  padding-left: 0;
  cursor: pointer;
  &:hover {
    background-color: #fff2f0;
  }
  @include ellipsis;
  transition: background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  // 图标
  .anticon {
    @include iconfont;
  }
}
