.ant-col {
  display: flex;
  align-items: center;
  &:first-of-type {
    .logo-link {
      display: flex;
      align-items: center;
      color: #fff;
      &:hover { color: #fff; }
      img {
        width: 28px;
        border-radius: 50%;
        margin: 0 10px;
      }
      span {
        font-size: 20px;
        letter-spacing: .1em;
      }
    }
  }
}