@mixin arrow {
  &:hover .carousel-arrow{
    &:first-of-type {
      left: 20px;
    }
    &:last-of-type {
      right: 20px;
    }
  }
}

.carousel-container {
  width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  overflow: hidden;
  perspective: 1000px;
  position: relative;
  .carousel-item {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: 10;
    transform: translate3d(-50%, 0, -200px);
    transform-style: preserve-3d;
    transition: transform .7s ease, z-index .5s ease;
    border-radius: 15px;
    overflow: hidden;
    &.carousel-prev {
      transform: translate3d(-120%, 0, -200px);
      z-index: 14;
    }
    &.carousel-active {
      transform: translate3d(-50%, 0, 0);
      z-index: 16;
      cursor: pointer;
    }
    &.carousel-next {
      transform: translate3d(20%, 0, -200px);
      z-index: 12;
    }
    // 轮播图对应类型
    .banner-title {
      position: absolute;
      bottom: 0;
      right: 0;
      border-top-left-radius: 5px;
      font-size: 12px;
      padding: 5px 10px;
      color: #fff;
    }
  }
  // 左右箭头
  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    padding: 8px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    z-index: 20;
    transition: all .3s ease-in-out;
    cursor: pointer;
    &:first-of-type {
      left: -30px;
    }
    &:last-of-type {
      right: -30px;
    }
  }
  // 显示左右箭头
  @include arrow;
  // 小圆点
  .carousel-dot {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    li {
      width: 12px;
      height: 12px;
      box-sizing: border-box;
      margin: 0 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        width: 7px;
        height: 7px;
        background-color: #E6E6E6;
        border-radius: 50%;
        &.carousel-active-dot {
          background-color: #ec4141;
        }
      }
    }
  }
}