.ant-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 1536px;
}
.ant-layout .ant-layout,
.ant-layout .ant-layout-sider {
  background-color: #fff;
}
.ant-layout .ant-layout-header {
  background-color: #ec4141;
}
.ant-layout-header {
  padding-left: 30px;
}
.ant-layout-sider {
  border-right: 1px solid #E1E1E1;
}