@import '@assets/scss/scroller.scss';
.ant-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 1536px;
  user-select: none;
}
.ant-layout .ant-layout,
.ant-layout .ant-layout-sider {
  background-color: #fff;
}
.ant-layout .ant-layout-header {
  background-color: #ec4141;
}
.ant-layout-header {
  padding-left: 30px;
}
.ant-layout-sider {
  border-right: 1px solid #E1E1E1;
}
.ant-layout-content {
  // overflow-x: hidden;
  overflow: hidden;
}
// 自定义滚动条
.found-container, .ant-layout-sider,
.exclusive-container {
  @include scroller;
}

.found-container, .exclusive-container {
  height: 100%;
}

.ant-image {
  flex: 1;
}