.ant-layout {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 1536px;
}
.ant-layout .ant-layout,
.ant-layout .ant-layout-sider {
  background-color: #fff;
}
.ant-layout .ant-layout-header {
  background-color: #ec4141;
}
.ant-layout-header {
  padding-left: 30px;
}
.ant-layout-sider {
  border-right: 1px solid #E1E1E1;
}
.ant-layout-content {
  // overflow-x: hidden;
  overflow: hidden;
}
// 自定义滚动条
.found-container, .ant-layout-sider,
.exclusive-container {
  overflow-x: hidden;
  overflow-y: auto;
  // 自定义滚动条
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background-color: #E0E0E0;
  }
}

.found-container, .exclusive-container {
  height: 100%;
}